@font-face {
   font-family: 'Antonio';
   src: url('../assets/fonts/Antonio-VariableFont_wght.ttf');
   font-weight: 100 900;
   font-style: normal;
}
@font-face {
   font-family: 'Spartan';
   src: url('../assets/fonts/Spartan-Regular.ttf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Spartan';
   src: url('../assets/fonts/Spartan-Bold.ttf');
   font-weight: 700;
   font-style: normal;
}

@layer reset {
   *,
   *::before,
   *::after {
      box-sizing: border-box;
   }

   html {
      -moz-text-size-adjust: none;
      -webkit-text-size-adjust: none;
      text-size-adjust: none;
   }

   body,
   h1,
   h2,
   h3,
   h4,
   p,
   figure,
   blockquote,
   dl,
   dd {
      margin: 0;
   }

   [role='list'] {
      list-style: none;
      margin: 0;
      padding: 0;
   }

   body {
      min-block-size: 100vh;
      line-height: 1.6;
   }

   h1,
   h2,
   h3,
   button,
   input,
   label {
      line-height: 1.1;
   }

   h1,
   h2,
   h3,
   h4 {
      text-wrap: balance;
   }

   p,
   li {
      text-wrap: pretty;
   }

   img,
   picture {
      max-inline-size: 100%;
      display: block;
   }

   input,
   button,
   textarea,
   select {
      font: inherit;
   }
}

html,
body {
   min-height: 100vh;
   max-width: 100vw;
   overflow-x: hidden;
   font-family: var(--ff-primary);
}

body {
   background-color: var(--clr-bg-page);
   background-image: url('../assets/backgrounds/background-stars.svg');
   background-repeat: repeat;
   background-position: top center;
   background-size: 600px 600px;
}
