.header__inner {
   padding: 1.5rem 1.5rem 1rem 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--clr-bg-page);
}

.header__toggle {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
}

.header__toggle img {
   display: block;
   padding: 0;
   margin: 0;
}

.header__logo {
   font-size: var(--type-size-mobile-logo);
   line-height: var(--lh-130);
   letter-spacing: var(--tracking-tight-1);
   color: var(--clr-text-primary);
   text-decoration: none;
   text-transform: uppercase;
}

.header__inner button:last-child {
   background-color: transparent;
   border: none;
   cursor: pointer;
   height: 100%;
}

.header {
   border-bottom: 1px solid var(--clr-border-subtle);
}

.site__header {
   position: relative;
}

.header__nav {
   display: none;
}

/* TABLET */
@media (min-width: 768px) {
   .header__logo {
      padding-block: 1rem;
   }

   .header__nav {
      display: flex;
      justify-content: space-evenly;
   }

   .header__toggle {
      display: none;
   }

   .header__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0.5rem;
      background-color: transparent;
   }

   .header__list {
      display: flex;
      width: 100vw;
      padding-inline: 2rem;
      justify-content: space-evenly;
      gap: 1rem;
      list-style: none;
   }

   .header__link {
      display: flex;
      justify-content: space-between;
      color: var(--clr-text-muted);
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 700;
      font-family: var(--ff-secondary);
      line-height: var(--lh-225);
      letter-spacing: var(--tracking-loose-2);
   }
}

/* DESKTOP */
@media (min-width: 1024px) {
   .header__inner {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-block: 0.5rem;
      padding-inline: 2rem;
   }

   .header__nav {
      display: flex;
      margin-left: auto;
      justify-content: right;
   }

   .header__list {
      width: auto;
      margin: 0;
      padding: 0;
   }

   .header__link {
      display: inline-flex;
      position: relative;
      padding-block: 1.5rem;
   }

   .header__link::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 4px;
      opacity: 0;
   }

   .header__link:hover::before {
      background-color: var(--dot-color);
   }

   .header__link:hover::before,
   .header__link[aria-current='page']::before {
      opacity: 1;
   }
}
